@tailwind base;
@tailwind components;
@tailwind utilities;

.uniqueFont {
  font-family: "Stack Sans Text", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Reference the font name, NOT the class name */
body {
  font-family: "Stack Sans Text", sans-serif;
}
